<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>New issue, #<%= @issue.id %></h1>
<p>
  <h2><%= @issue.title %></h2><br/>
</p>
<p>
  <%= @issue.description %>
</p>
<%= url_for(:host => "localhost:3000",
            :controller => "issues",
            :action => "show",
            :id => @issue.id) %>
</body>
</html>