New issue #<%= @issue.id %>

<%= @issue.title %>

<%= @issue.description %>

<%= url_for(:host => "localhost:3000",
            :controller => "issues",
            :action => "show",
            :id => @issue.id) %>