<%=form_for :comment, :remote => true, :url => {:controller => :comments, :action => :create} do |f| %>
    <div>
      <%= f.label :message%><br/>
      <%= f.text_area :message, :rows => 4, :class => 'message-area'%>
    </div>

    <div>
      <%= f.hidden_field :issue_id, :value => @issue.id %></div>

    <div><%= f.submit "Add comment", :class => 'btn btn-inverse' %></div>

<% end %>
