<%= form_for Issue.new, :html => {:class => "form form-inline"}, :remote => true, :url => {:action => :apply_filters, :format => :js} do |f| %>

    <%= f.label(:type) %>
    <%= f.enum_select :issue_type%><br/><br/>

    <%= f.label(:status) %>
    <%= f.enum_select :status%><br/><br/>

    <%= f.label :priority%>
    <%= f.enum_select :priority%><br/><br/>

    <%= f.label :assignee%>
    <%= f.collection_select(:assignee_id, Project.find(project).users.all, :id, :login, {:include_blank => true}) %><br/><br/>

    <%= f.label :author%>
    <%= f.collection_select(:author_id, Project.find(project).users.all, :id, :login, {:include_blank => true}) %><br/><br/>

    <%= f.hidden_field :project_id, :value => project %>

    <%= f.submit 'Apply filters', :class => 'btn btn-inverse'%>

<% end %>