<%=form_for @issue, :html => { :multipart => true } do |f| %>
    <%= f.error_messages %>
    <div>
      <%= f.label :issue_title%>
      <%= f.text_field :title%>
    </div><br/>
    <div>
      <%= f.label :issue_description%>
      <%= f.text_area :description%>
    </div><br/>
    <div>
      <%= f.label :issue_type%>
      <%= f.enum_select :issue_type%>
    </div><br/>
    <div>
      <%= f.label :issue_priority%>
      <%= f.enum_select :priority%>
    </div><br/>
    <div>
      <%= f.label :issue_assignee%>
      <%= f.collection_select(:assignee_id, @issue.project.users.all, :id, :login) %>
    </div><br/>

    <div id="files">
      <%= f.label "Attach files(max 10)"%>
	<div>
      <%= file_field_tag "1" %>
    </div>
	</div>
	<a href="#" id="add_file">Add another file</a>
    <a href="#" id="delete_file">Remove last file</a><br/>
    <div>
      <%= f.label :estimated_time%>
      <%= f.time_select :estimated%>
    </div><br/>

    

    <%= f.hidden_field :project_id, :value => @issue.project_id  %>

    <div><%= f.submit "Submit", :class => 'btn btn-inverse' %></div>

<% end %>



