<% if (DateTime.now() > (issue.deadline.nil? ? DateTime.now() : issue.deadline)) && issue.status == :in_progress%>
    <% tr_class = "error" %>
<% end %>
<tr class="<%= tr_class%>">
  <td><%= link_to issue.title, :action => :show, :id => issue.id %></td>
  <td><%= issue.issue_type %></td>
  <td><%= issue.status %></td>
  <td><%= issue.priority %></td>
  <td><%= link_to issue.author.login, :controller => :users, :action => :show, :id => issue.author_id %></td>
  <td><%= link_to issue.assignee.login, :controller => :users, :action => :show, :id => issue.assignee_id %></td>
  <td><%= issue.updated_at %></td>
</tr>