$("#recordstable > tbody").empty();
<% @issues.each do |issue| %>
    $("#recordstable > tbody").append('<%= escape_javascript(render(:template => 'issues/_render_issue_row', :locals => {:issue => issue})) %>');
<% end %>
