<h1>Issues</h1>
<br/>
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Filters
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render :partial => 'filters_form', :remote => true, :locals => {:project => @pid} %>
      </div>
    </div>
  </div>
</div>
<table class="table table-bordered" id="recordstable">
  <thead>
  <tr>
    <th>title</th>
    <th>type</th>
    <th>status</th>
    <th>priority</th>
    <th>author</th>
    <th>assignee</th>
    <th>updated</th>
  </tr>
  </thead>
  <tbody>
  <% @issues.each do |issue| %>
      <%= render(:template => "issues/_render_issue_row", :locals => {:issue => issue}) %>
  <% end %>
  </tbody>


</table>
<%= link_to 'New issue', :controller => :issues, :action => :new, :id => @pid %>

