<div class="well">
  <div id="title"><h1><%= @issue.title %></h1></div><br/>

  <div class="like-container">
  <div class="likes">
    <div id="likes">Likes <%= @issue.likes.size %></div>
  </div>
  <div class="btn btn-success btn-mini">
    <div class="row-fluid">
      <i class="icon-thumbs-up"></i>
      <%= link_to :like, {:controller => :issues, :action => :add_like, :id => @issue.id}, :remote => true %>
    </div>
  </div></div><br/>


  Created: <%= @issue.created_at %>
  <br/> last update : <%= @issue.updated_at %>
  <br/><br/>
  <h6>author</h6>
  <%= render :partial => 'info_user', :locals => {:info_user => @author} %>
  <h6>assignee</h6>
  <%= render :partial => 'info_user', :locals => {:info_user => @assignee} %>
  <h6>Progress</h6>

  <div class="progress" style="width:20%">
    <div class="bar bar-success" style="width: <%= @issue.done %>%;"><%= @issue.done %>%</div>
  </div>
  <br/>
  <h4><%= @issue.description %></h4><br/>

  <div>
    <h6>Attached files: </h6>
    <% @files.each do |att| %>
        <p>
          <a href="/<%= att.path %>"><%= att.name %></a>
        </p>
    <% end %>

  </div>
</div>

<% histories = @issue.histories.order("created_at ASC").all %>


<% if (!histories.empty?) %>
    <% n = histories.size %>
    <div class='well well-small'>
    <% for i in 0..(n-2) %>
          <div class='row-fluid'><%= render :partial => 'histories', :locals => {:first_state => histories[i], :last_state => histories[i+1]} %></div>
    <% end %>
    <div class='row-fluid'><%= render :partial => 'histories', :locals => {:first_state => histories.last, :last_state => @issue} %></div>
    </div>
<% end %>


<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Update Issue
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <h2>Update</h2>
        <%= form_for @issue, :method => :post, :class => "qweqe", :url => {:controller => :histories, :action => :create} do |f| %>

            <div class="span3">
              <%= f.label :status %>
              <%= f.enum_select :status %>

              <%= f.label 'Done, %' %>
              <%= f.text_field :done %>

              <%= f.label :priority %>
              <%= f.enum_select :priority %>
            </div>
            <div>
              <%= f.label :assignee %>
              <%= f.collection_select(:assignee_id, @issue.project.users.all, :id, :login) %>
            </div>
            <div>
              <%= f.label :message %>
              <%= text_area_tag 'message' %>
            </div>

            <%= f.hidden_field :issue_id, :value => @issue.id %>

            <div><%= f.submit "Update", :class => 'btn btn-inverse' %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'back to project', :controller => :projects, :action => :show, :id => @issue.project.id %>

<div class="comments" id="comments">
  <legend>Comments</legend>
  <%= render :partial => 'comments/comment', :remote => true, :collection => @comments %>
</div>

<div class="well">
  <div class="comment-form">
    <%= render :template => 'comments/_form' %>
  </div>
</div>
