<%= image_tag @user.avatar.url(:thumb) %>
<p>Login: <%= @user.login %></p>
<p>First name: <%= @user.fname %></p>
<p>Last name: <%= @user.lname %></p>
<p>Email: <%= @user.email %></p>
<p>Sign up: <%= @user.created_at %></p>
<p>Projects:</p>
<div class="projects">
<% @user.projects.each do |p| %>
<p><%= p.name %></p>
<% end %>
</div>