<h2>New issues assigned to you</h2>
<% @p.keys.each do |p| %>
    <h3><%= link_to p.name, :controller => :projects, :action => :show, :id => p.id %></h3>
    <table class="table table-hover">
      <tr>
        <th>title</th>
        <th>type</th>
        <th>status</th>
        <th>priority</th>
        <th>author</th>
        <th>updated</th>
      </tr>
      <% @p[p].each do |issue| %>
          <tr>
            <td><%= link_to issue.title, :controller => :issues, :action => :show, :id => issue.id %></td>
            <td><%= issue.issue_type %></td>
            <td><%= issue.status %></td>
            <td><%= issue.priority %></td>
            <td><%= link_to issue.author.login, :controller => :users, :action => :show, :id => issue.author_id %></td>
            <td><%= issue.updated_at %></td>
          </tr>
      <% end %>
    </table>
<% end %>
