<%= form_for :user_projects, :remote => true, :url => {:controller => :user_projects, :action => :create} do |f| %>
    <p>
      <%= f.label :user_email %><br />
      <%= f.autocomplete_field :email, autocomplete_user_email_projects_path, :id_element => '#auto_email'%>
    </p>
    <p>
      Manager <%= f.radio_button :role, :manager %>
      Developer <%= f.radio_button :role, :assignee %>
    </p>
    <%= f.hidden_field :project_id, :value => @project.id %>
    <p>
      <%= f.submit 'Add member', :class => 'btn btn-inverse'%>
    </p>
<% end %>