<%=form_for @project do |f| %>
    <% if @project.errors.any? %>
        <div id="errorExplanation">
          <ul>
            <% @project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div>
      <%= f.label :project_name%>
      <%= f.text_field :name%></div>

    <div>
      <%= f.label :project_code_name%>
      <%= f.text_field :codename%></div><br/>

    <%= image_tag @project.image.url(:thumb) %>
    <div><%= f.label :image %>
      <%= f.file_field :image %></div>

    <div><%= f.submit "Submit", :class => 'btn btn-inverse' %></div>

<% end %>
