<h1>Projects</h1>
<br/>
<table class = "table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Codename</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>

  <% @projects.each do |project| %>
      <tr>
        <td><%= image_tag project.image.url(:small), :class => 'img-polaroid', :alt => ''%></td>
        <td><%= link_to project.name, :action => :show, :id => project.id %></td>
        <td><%= project.codename %></td>

        <% if can? :manage, project %>
            <td> <%= link_to ' Edit ', :action => :edit, :id => project.id %></td>
            <td> <%= link_to ' Delete ', { :action => :destroy, :id => project.id }, :method => :delete, :confirm => 'Are you sure?'%></td>
        <% else %>
            <td>
            <td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'New project', :controller => :projects, :action => :new %>

