<h1><%= @project.name %></h1>
<div class="well">
<p>Versions:</p>
<table class='table' id="versions">
  <%= render :partial => 'versions/version', :collection => @versions, :remote => true ,:locals => { :project => @project} %>
</table>
<h4>Add version</h4>
  <div id="version_form">
    <%= render :template => 'versions/create' %>
    </div>
</div>

<div class='well'>
<p>Components:</p>
  <table class='table' id="components">
    <%= render :partial => 'components/component', :collection => @components, :remote => true, :locals => { :project => @project} %>
  </table>
  <h4>Add component</h4>
  <div id="component_form">
    <%= render :template => 'components/create' %>
  </div>
</div>

<div class='well'>
<p>Members</p>
  <table class='table' id="members">
    <%= render :partial => 'edit_user', :collection => @members, :remote => true,  :locals => { :project => @project} %>
  </table>
  <% if can? :manage, @project %>
      <h4>Add member:</h4>
      <div id="member-form">
        <%= render :template => 'user_projects/_form' %>
      </div>
  <% end %>
</div>
