<%= link_to 'View all', :controller => :projects, :action => :index %>
<% if can? :manage, @project %>
    | <%= link_to 'Edit', :action => :edit, :id => @project.id %>
    | <%= link_to 'Delete', { :action => :destroy, :id => @project.id }, :method => :delete, :confirm => 'Are you sure?' %>
<% end %>

<h1>
  <%= @project.name %> -
  <%= @project.codename %>
</h1>
<p>Created: <%= @project.created_at %></p>
<div class="well">
  <h4>Members:</h4>
  <h6>managers</h6>
  <%= render :partial => 'info_user', :collection => @managers %>
  <h6>developers</h6>
  <%= render :partial => 'info_user', :collection => @developers %>
</div>

<%= link_to 'Settings', :action => :settings %>
<%= link_to 'Issues', :controller => :issues, :action => :of_project, :id => @project.id %>


