<%= form_for :versions, :remote => true ,:url => {:controller => :versions, :action => :create} do |f| %>
    <p>
      <%= f.text_field :label, :value => '' %>
    </p>
    <%= f.hidden_field :project_id, :value => @project.id %>
    <p>
      <%= f.submit 'Add version', :class => 'btn btn-inverse'%>
    </p>
<% end %>