// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message {
  border-radius: 3px;
  background-color: #ffffff;
}

.message p {
  margin: 5px 25px 5px 25px;
}

.message-area {
  width: 500px;
}