// Place all the styles related to the issue controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {
  border-radius: 3px;
  background-color: #f0f8ff;
  padding: 20px;
  margin-top: 20px;
}

.user {
  color: #6495ed;
  font-weight: bold;
  font-size: 16px;
}

.date {
  color: #999999;
  float: right;
}

.error {
  background-color: #ffe4e1;
}

textarea {
  width:590px;
  height:200px;
  padding:5px;
}

.like-container {
  border-radius: 2px;
  background-color: #f0ffff;
  width: 100px;
  float: right;
}

#title {
  float: left;
}

.like-container a {
  color: #ffffff;
}

.likes {
  float: left;
  padding-right: 5px;
}

